# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Model checkpoints and outputs
checkpoints/
predictions/
*.pth
*.pt
*.h5

# Data
data/
datasets/
*.csv
*.jpg
*.jpeg
*.png
*.npy
*.npz

# MacOS
.DS_Store

# Windows
Thumbs.db
